#TECLADO

NET "clk" LOC = "E12" | IOSTANDARD = LVCMOS33 | PERIOD = 20.000;
NET "reset" LOC = "T16" | IOSTANDARD = LVCMOS33 | PULLDOWN; #EAST BUTTON
NET "ps2c" LOC = "W12" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW;
NET "ps2d" LOC = "V11" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW;
NET "rd_key_code" LOC = "T15" | IOSTANDARD = LVCMOS33 | PULLDOWN; #SOUTH BUTTON
NET "number_code<0>" LOC = "R20" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW;
NET "number_code<1>" LOC = "T19" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW;
NET "number_code<2>" LOC = "U20" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW;
NET "number_code<3>" LOC = "U19" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW;
NET "kb_buf_empty" LOC = "W21" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW;

#DISPLAY LCD
NET "LCD_DB[0]" LOC = Y13;
#NET "CLK" LOC = "E12";
NET "LCD_DB[1]" LOC = AB18;
NET "LCD_DB[2]" LOC = AB17;
NET "LCD_DB[3]" LOC = AB12;
NET "LCD_DB[4]" LOC = AA12;
NET "LCD_DB[5]" LOC = Y16;
NET "LCD_DB[6]" LOC = AB16;
NET "LCD_DB[7]" LOC = Y15;
NET "OE" LOC = AB4;
NET "RS" LOC = Y14;
NET "RW" LOC = W13;
#NET "rst" LOC = T15;
NET "BOTAO" LOC = "U15" | IOSTANDARD = LVCMOS33 | PULLDOWN; #WEST BUTTON
NET "LED" LOC = "W21" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW;
#NET "NUMERO<0>" LOC = "V8" | IOSTANDARD = LVCMOS33;
#NET "NUMERO<1>" LOC = "U10" | IOSTANDARD = LVCMOS33;
#NET "NUMERO<2>" LOC = "U8" | IOSTANDARD = LVCMOS33;
#NET "NUMERO<3>" LOC = "T9" | IOSTANDARD = LVCMOS33;


#SWITCH OPERACAO
NET "operacao"         LOC = "V8"   | IOSTANDARD = LVCMOS33 | CLOCK_DEDICATED_ROUTE = FALSE;